services:
  postgres:
    image: postgres:17
    container_name: good-todo-go-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: good_todo_go
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog
    container_name: good-todo-go-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
